
<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated fadein" href="#"
        ><img src="/assets/img/logo.png" alt="" title=""
      /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://tactlabs.gitbook.io/featurepreneur" target="_blank">Docs</a>
        </li>
        <li >
          <a href="employer-login.html">For Employers</a>
        </li>

        <li><a href="login.html">Log in</a></li>
        <li>
          <a class="btn btn-primary btn-sign" href="register.html"
            >Sign Up</a
          >
        </li>
      </ul>
    </div>
