<app-loginheader></app-loginheader>
<section class="inner-pg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <div class="form-block-right login">
              <h2 class="text-center">Candidate Login</h2>
              <p class="text-center">
                Don't have an account? Click here to
                <a href="register.html">Register</a>
              </p>

              <form [formGroup]="form" (ngSubmit)="submitForm()">
                <!-- <div class="social-signin text-center">
                  <a title="Facebook" class="fb"
                    ><i class="fa fa-facebook"></i>&nbsp;&nbsp;Continue with
                    Facebook</a
                  >&nbsp;&nbsp;&nbsp;<a title="Google Plus"
                    ><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Continue
                    with Google</a
                  >
                </div>
                <div class="loginbox-v4__separator-container">
                  <div class="loginbox-v4__separator"></div>
                  <div class="loginbox-v4__separator-text">OR</div>
                  <div class="loginbox-v4__separator"></div>
                </div> -->
                <div id="err-msg"></div>
                <div class="form-group">
                  <input

                    class="form-control"
                    placeholder="Email Address"
                    formControlName="email"
                    id="email"

                  />
                </div>

                <div class="form-group">
                  <input
                  type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    id="password"
                  />
                </div>
             <button id="button" type="submit" class="btn btn-primary btn-block"> Login </button>
              </form>
              <div class="btm-sec text-center">
                <a href="" class="frgt-pswd">Forgot your password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    //carousel options
    $("#quote-carousel").carousel({
      pause: true,
      interval: 10000,
    });
  });
</script>
<script src="js/url.js"></script>
<script src="js/cookie.js"></script>
<script>
 document.getElementById("button").addEventListener("submit", sendData);
    function sendData(e) {
      e.preventDefault();
      const password = document.getElementById("password").Value;
      const email = document.getElementById("email").Value;
      fetch(`${url}api/login`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: email,
          password: password,
          user_role: 2,
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          if (data.user_id === -1) {
            document.getElementById(
              "err-msg"
            ).innerHTML = `<div class="err-msg">${data.authenticated}</div>`;
          } else {
            setCookie("userid", data.user_id, 1);
            window.location.assign("/feature.html");
          }
        })
        .catch((err) => console.log(err));
    }
</script>
