.inner-pg-dash-heading {
  background: #e9eef7;
  width: 100%;
  float: left;
  padding: 50px 0;
}

.fixed.alert.error.tsblocked__warning {
  display: none;
}

.inner-pg-dash-heading h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin: 0;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-tabs {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
}
@media only screen and (max-width: 37.438em) {
  .nav-tabs {
    animation-name: fadeInLeftBig;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
  }
}
.nav-tabs__wrap {
  box-shadow: inset 0 -5px 0 #f1f1f1;
}
@media only screen and (max-width: 64em) {
  .nav-tabs__wrap {
    overflow-x: auto;
    margin: 0 6px;
  }
  .nav-tabs__wrap .fixed {
    padding-left: 0;
  }
}
.nav-tabs__item {
  padding: 6px 0;
  margin: 0 24px;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
  border-bottom: 5px solid #f1f1f1;
}
.nav-tabs__item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.nav-tabs__item:hover {
  color: #556bb5;
  border-bottom: 5px solid #ccc;
  transition: all 0.25s ease 0s;
}
.nav-tabs__item.active {
  color: #454545;
  border-bottom: 5px solid #4a90e2;
  cursor: default;
}
@media only screen and (max-width: 37.438em) {
  .nav-tabs__item {
    margin: 0 12px;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.promo_tool__i {
  height: 80px;
  width: 80px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  background: #666;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 80px;
  color: #fff !important;
}
.promo_tool__i:hover {
  text-decoration: none;
}
@media only screen and (max-width: 37.438em) {
  .promo_tool__i {
    top: -40px;
  }
}
.promo_tool__inner {
  margin-top: 40px;
  padding: 30px 10px 10px;
  background: #f5f5f5;
  text-align: center;
}
@media only screen and (min-width: 37.5em) {
  .promo_tool__inner {
    min-height: 180px;
  }
}
h1 {
  margin: 12px 0 6px;
}
.socrow {
  background: #f1f1f1;
  height: 18px;
  line-height: 18px;
}
.totalTimeLeft {
  font-size: 18px;
  padding: 10px 0;
  text-align: right;
}
.c-timer,
.timerContainer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.c-timer {
  font-size: 18px;
}
.c-timer:after {
  content: "";
  display: table;
  clear: both;
}
.c-timer__config {
  display: block;
  margin-bottom: 24px;
}
.c-timer__footer,
.c-timer__title {
  margin-bottom: 12px;
}
.c-timer__footer {
  font-size: 18px;
}
.c-timer__footer:after {
  content: "";
  display: table;
  clear: both;
}
.c-timer__edit-wrap {
  font-size: 14px;
}
.c-timer__edit {
  margin-left: 12px;
  color: #556bb5;
  background: #fff;
  border: #ddd 1px solid;
}
.c-timer__delete {
  position: absolute;
  right: 0;
  opacity: 0;
  color: #d0021b;
  background: #fff;
  border: #ddd 1px solid;
}
.c-timer:hover .c-timer__delete {
  opacity: 1;
}
.c-timer__drag {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  margin-left: -24px;
  margin-top: -12px;
}
.c-timer:hover .c-timer__drag {
  opacity: 1;
}
.c-timer--single .c-timer:hover .c-timer__drag {
  opacity: 0;
}
@media only screen and (max-width: 37.438em) {
  .c-timer {
    font-size: 14px;
  }
}
.c-editModal * {
  z-index: 1050 !important;
}
.c-editModal .modal {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: inherit;
}
.c-editModal .modal-body,
.c-editModal .modal-content,
.c-editModal .modal-footer {
  z-index: inherit;
}
.sound-test {
  font-size: 18px;
  margin-left: 24px;
}
.progressBar {
  background-color: #aaa;
  height: 32px;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 37.438em) {
  .progressBar {
    height: 20px;
  }
}
.currentProgress {
  background-color: #50bf9f;
  height: 32px;
  width: 100%;
  position: relative;
  float: left;
}
.currentProgress--pause {
  background-color: #fb647f;
}
.currentProgress--start {
  background-color: #50bf9f;
}
@media only screen and (max-width: 37.438em) {
  .currentProgress {
    height: 20px;
  }
}
.timeCount {
  color: #000;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  font-size: 48px;
  transition: 0.4s ease-in;
  margin-bottom: 12px;
}
.timeCount:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 37.438em) {
  .timeCount {
    font-size: 32px;
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 64.063em) {
  .c-timer--single .timeCount {
    font-size: 150px;
  }
}
@media only screen and (max-width: 37.438em) {
  .c-timer--single .timeCount {
    font-size: 32px;
    margin-bottom: 6px;
  }
}
.timeLeft {
  margin-right: 24px;
  line-height: 64px;
  cursor: pointer;
}
.timeLeft:hover {
  color: #556bb5;
}
.c-timer--single .timeLeft {
  line-height: 100px;
}
@media only screen and (max-width: 37.438em) {
  .timeLeft {
    line-height: 44px;
  }
}
.timeAfter {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  font-style: italic;
  line-height: 32px;
  padding: 0 12px;
}
@media only screen and (max-width: 37.438em) {
  .timeAfter {
    line-height: 20px;
    font-size: 10px;
  }
}
.c-timer--done .timeCount {
  color: #777;
}
.c-timer__btn {
  text-align: center;
  border-radius: 50%;
  outline: 0;
  height: 64px;
  width: 64px;
  font-size: 14px;
  color: #fff;
  border: none;
}
.c-timer__btn:hover {
  background: #000;
  color: #fff;
  transition-duration: 0.5s;
}
.c-timer__btn:disabled {
  border: 1px solid #aaa;
  color: #aaa !important;
  background: #fff !important;
  cursor: not-allowed;
}
.c-timer__btn--start {
  background-color: #50bf9f;
}
.c-timer__btn--pause {
  background-color: #fb647f;
}
.c-timer__btn--reset {
  background-color: #4387d0;
  margin-left: 12px;
}
.toolbox--general .c-timer__btn {
  height: 100px;
  width: 100px;
  line-height: 100px;
  font-size: 18px;
}
@media only screen and (min-width: 64.063em) {
  .c-timer--single .c-timer__btn {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 37.438em) {
  .c-timer--single .c-timer__btn,
  .c-timer__btn {
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 12px;
  }
}
.inputAdd {
  background-color: #a9a9a9;
  padding: 5px;
}
.tad-sortable-container {
  position: relative;
}
.tad-sortable-anchor,
.tad-sortable-item {
  cursor: move;
}
.tad-sortable-anchor-only > .tad-sortable-item,
.tad-sortable-fixed {
  cursor: auto;
}
.tad-sortable-place-holder {
  visibility: hidden !important;
  z-index: 0;
}
.tad-sortable-item-drag {
  position: absolute;
  z-index: 9999;
}
.is-dragging .progressBar {
  box-shadow: 0 0 4px #999;
  z-index: 9999;
}
.c-fullScreenButton {
  color: #556bb5;
  position: absolute;
  right: 0;
  top: 0;
}
.c-fullScreenButton i {
  font-size: 1.5em;
  line-height: 0.9em;
  vertical-align: bottom;
}
.c-countdown.is-dragging {
  background: #fff;
  box-shadow: 0 0 3px #666;
  z-index: 500;
}
.c-timer .c-countdown .c-timer__btn--pause,
.c-timer .c-countdown .c-timer__btn--reset,
.c-timer .c-countdown .c-timer__btn--start,
.c-timer .c-countdown .toolbox {
  display: none;
}
.toolbox {
  font-size: 16px;
  display: inline-block;
  z-index: 200;
}
.toolbox--manual {
  vertical-align: middle;
  display: none;
}
.c-timer--single .toolbox--manual,
.toolbox--general {
  display: inline-block;
}
.c-timer--single .toolbox--general {
  display: none;
}
.c-timer--manualMode .toolbox--general {
  visibility: hidden;
}
.c-timer--manualMode .toolbox--manual {
  visibility: visible;
  display: inline-block;
}
.picker_time__input {
  max-width: 80px;
}
.tool__wrap {
  border-top: 0;
}
