<app-header></app-header>
<section class="banner">
  <div class="baner-left">
    <h2>Micro-prediction for everyone</h2>
    <p>
      Our ML Volunteers will help you on the Micro-prediction and Analytics.
    </p>
    <a href="feature.html" class="btn btn-default banner_btn"
      >Featurepreneur Projects</a
    >
  </div>
  <div class="baner-right">
    <img
      src="/assets/img/banner.jpg"
      alt="Talent Accurate"
      title="Talent Accurate"
      class=""
    />
  </div>
</section>
<section class="modal-howitwork animated fadeIn">
  <div class="heading text-center">
    <h2>How it Works</h2>
    <div class="container howit">
      <div class="row block-sp">
        <span class="number_icon">01</span>
        <div class="col-md-6 one_img">
          <img
            src="/assets/img/howitowrk_icon1.png"
            alt="Sign Up"
            title="Sign Up"
          />
        </div>
        <div class="col-md-6">
          <div class="block one text-left">
            <h3>Sign Up</h3>
            <p>just sign up and add some awesome things about you.</p>
          </div>
        </div>
      </div>
      <div class="row block-sp">
        <span class="number_icon">02</span>
        <div class="col-md-6 col-md-push-6 two_img">
          <img
            src="/assets/img/howitowrk_icon2.png"
            alt="Pick a Feaure Bounty"
            title="Pick a Feaure Bounty"
          />
        </div>
        <div class="col-md-6 col-md-pull-6">
          <div class="t-right">
            <h3>Pick a Feature</h3>
            <p>
              Just pick any feature (trendy requirements) and start working
              on it. We have 2 hours to 200 hours assignment
              <br />
              Yes, you can google the answers (just like in the office)
            </p>
          </div>
        </div>
      </div>
      <div class="row block-sp">
        <span class="number_icon">03</span>
        <div class="col-md-6 three_img">
          <img
            src="/assets/img/howitowrk_icon3.png"
            alt="Show 'em a Demo"
            title="Show 'em a Demo"
          />
        </div>
        <div class="col-md-6">
          <div class="block one text-left">
            <h3>Showcase your work</h3>
            <ul>
              <li>Share your progress with the employer/experts</li>
              <li>Show the problems you solved</li>
              <li>Show how you solved them</li>
              <li>Show the resources you accessed</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row block-sp">
        <span class="number_icon">04</span>
        <div class="col-md-6 col-md-push-6 four_img">
          <img
            src="/assets/img/howitowrk_icon4.png"
            alt="Time for Offer or Learning"
            title="Time for Offer or Learning"
          />
        </div>
        <div class="col-md-6 col-md-pull-6">
          <div class="block two text-right">
            <h3>
              Certificate or <br />
              Get Hired
            </h3>
            <p>
              If the employer is happy with your demo, talk about offer
              letter
            </p>
            <p>
              If not, get the Feature Bounty certificate and wait for the
              better.
            </p>
          </div>
        </div>
      </div>
      <div class="student-testimonial-container">
        <p class="testimonial-title">What our Featurepreneurs says</p></div>
        <div class="student-testimonial">
            <img src="/assets/img/testimonial-charles.png" alt="" class="student-image">
            <div class="student-information">
            <p class="student-name">Charles Samuel R</p>
            <p class="student-qualification">Engineer</p>
            <p class="student-thoughts">Its always better to have a great application of whatever you have learned and I felt thatFeaturepreneur has been like that for me. Whatever I learned I managed to apply in small features to start off and moved on and learned more about this amazing place. The important part of being inFeaturepreneur is that we can learn a lot by being there and money is secondary here. The more we do the more we have a chance to get more money for our work.
              Hard Work is always rewarded here..</p>
          </div>
        </div>
        <div class="student-testimonial-right">
          <img src="https://lunchclub.ai/static/media/natalie.214bae60.png" alt="" class="student-image-right">
          <div class="student-information-right">
            <p class="student-name-right">Natalie</p>
            <p class="student-qualification-right">Screenwriter</p>
            <p class="student-thoughts-right">Natalie is a screenwriter who has been working on independent films since she graduated in 2017. She joined Lunchclub to find other like-minded creatives to bounce her ideas off of. From Lunchclub, she's found investors for her production, as well as a partner on her new project. "I've had an idea for an animated series for a while. I got a production company on board after putting a pitch deck and pilot script together.
              I then showed the deck to my Lunchclub connection,
              and he said 'I would love to fund this!'</p>
          </div>
        </div>


      <div class="row block-sp">
        <div class="heading text-center">
          <h2>
            <a href="students.html">Check more details</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="modal-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="modal-body">
          <h2>Don't Miss Any News<br />Subscribe to Our Newsletter.</h2>
          <div id="message"></div>
          <div class="input-group">
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Enter your email"
              required=""
            />
            <span class="input-group-btn">
              <input
                type="submit"
                class="btn btn-primary"
                value="Subscribe"
                onclick="newsLetter()"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="modal-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="testi-left">
          <h5>PERSONALIZED MATCHING</h5>
          <h3>Where one-of-a-kind meets The One.</h3>
          <p>
            We curate our network with a diverse set of opportunities across
            a variety of companies, matching you with only those that best
            meet your unique skills, interests, preferences, and priorities.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testi-right">
          <div
            class="carousel slide"
            data-ride="carousel"
            id="quote-carousel"
          >
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li
                data-target="#quote-carousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">
              <!-- Quote 1 -->
              <div class="item active">
                <div class="row">
                  <div class="col-sm-12">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>
                      &ldquo;Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Maecenas sed diam eget risus varius
                      blandit sit amet non magna. Etiam porta sem malesuada
                      magna mollis euismod. Nulla vitae elit libero, a
                      pharetra augue. Donec id elit non mi porta gravida at
                      eget metus.&rdquo;
                    </p>
                    <small
                      ><strong>Vulputate M, Dolor</strong><br />Product
                      Manager</small
                    >
                  </div>
                </div>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <div class="row">
                  <div class="col-sm-12">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>
                      &ldquo;Vivamus sagittis lacus vel augue laoreet rutrum
                      faucibus dolor auctor. Vivamus sagittis lacus vel
                      augue laoreet rutrum faucibus dolor auctor. Aenean
                      lacinia bibendum nulla sed consectetur. Nullam id
                      dolor id nibh ultricies vehicula ut id elitestibulum
                      at eros. Aenean eu leo quam.&rdquo;
                    </p>
                    <small
                      ><strong>Fringilla A, Vulputate Sit</strong
                      ><br />Product Manager</small
                    >
                  </div>
                </div>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <div class="row">
                  <div class="col-sm-12">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>
                      &ldquo;Aenean lacinia bibendum nulla sed consectetur.
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Praesent commodo cursus magna, vel scelerisque
                      nisl consectetur et. Maecenas faucibus mollis
                      interdum. Cras mattis consectetur purus sit amet
                      fermentum.&rdquo;
                    </p>
                    <small
                      ><strong>Aenean A, Justo Cras</strong><br />Product
                      Manager</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partner-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center">
          <h2>Clients &amp; Partners</h2>
        </div>

        <div class="owl-carousel row owl-theme">
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/founder-institute.jpg"
              alt="apira"
              title="apira"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/PregBuddy.jpg"
              alt="PregBuddy"
              title="PregBuddy"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/vue.jpg"
              alt="vue"
              title="vue"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/cerdit.jpg"
              alt="cerdit"
              title="cerdit"
            />
          </div>
        </div>

        <br />
        <br />

        <div class="owl-carousel row owl-theme">
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/iboost.jpg"
              alt="iBoost"
              title="iBoost"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/toronto-city.jpg"
              alt="Toronto City"
              title="Toronto City"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/tce.jpg"
              alt="TCE"
              title="TCE"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/apira.jpg"
              alt="Apiria"
              title="Apiria"
            />
          </div>
        </div>

        <br />
        <br />

        <div class="owl-carousel row owl-theme">
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/1-12.jpg"
              alt="1-12"
              title="1-12"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/pupaclic.jpg"
              alt="vue"
              title="vue"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/spaceishare.jpg"
              alt="SpaceIShare"
              title="SpaceIShare"
            />
          </div>
          <div class="item col-sm-3">
            <img
              src="https://s3.amazonaws.com/tode/tact_images/webclues.jpg"
              alt="WebClues"
              title="WebClues"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
